# PostgreSQL connection used by Prisma (introspeksi & runtime)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sports_facility?schema=public"

PORT=3000
NODE_ENV=development

# Auth / JWT
JWT_ACCESS_SECRET="ganti-dengan-secret-acak-min-16-char"
JWT_REFRESH_SECRET="ganti-dengan-secret-acak-lain-min-16-char"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES_DAYS=7
BCRYPT_ROUNDS=10
